<% if(theme.post.open_in_new_window) { %>
  <a class="post-title" href="<%- url_for(post.path) %>" rel="noopener noreferrer" target="_blank"><%= post.title || '(标题还没想好)' %></a>
<% } else { %>
  <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title || '(标题还没想好)' %></a>
<% } %>
